@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Be Vietnam Pro", sans-serif;
}
/* body::-webkit-scrollbar {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(
    red,
    orange,
    yellow,
    green,
    indigo,
    violet,
    black
  );
  border-radius: 1.5rem;
} */
#wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding-top: 1rem;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 4rem;
}
.nav-items {
  padding: 0 4rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.nav-items div {
  font-size: 1.3rem;
  font-weight: 400;
  cursor: pointer;
}
.nav-items div:hover {
  transition: 2;
  font-weight: bold;
}
.nav-items div a {
  text-decoration: none;
  color: black;
}
.logo-text {
  font-size: 1.4rem;
  margin-left: -1.3rem;
  font-weight: 600;
}
.hero-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 5rem;
  margin: 4rem auto;
  padding: 0 1rem;
  padding-bottom: 8rem;
}
.fadded-text {
  position: absolute;
  user-select: none;
  font-size: 7rem;
  color: rgb(231, 231, 231);
  display: absolute;
  bottom: -16%;
  left: 5%;
  font-weight: bold;
  transition: all 3s;
}
.hero-section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.hero-section-heading {
  font-size: 2.5rem;
  color: #343d68;
  font-weight: 500;
}
.role {
  color: #4e45d5;
  font-weight: 800;
}
.hero-section-sub-heading {
  font-size: 3rem;
  line-height: 3rem;
}
.hero-section-description {
  font-weight: 500;
  width: 80%;
  margin: 1rem;
}
.btn {
  cursor: pointer;
  width: fit-content;
  transition: all 0.5s;
  font-weight: 500;
  border: 3px solid transparent;
  user-select: none;
  position: relative;
  background-color: #e84949;
  padding: 0.8rem 3.28rem;
  color: white;
  font-size: 1.2rem;
  box-shadow: 5px 5px 7px 0px #0000003f;
  z-index: 1;
}
.btn::before {
  content: "";
  /* color: black; */
  background-color: #fffafa;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: scale(0);
  transform-origin: left;
  transition: all 0.9s;
  z-index: -1;
}
.btn:hover::before {
  transform: scale(1);
}
.btn:hover {
  /* border: 3px solid transparent; */
  color: black;
}
.hero-section-right {
  position: relative;
}
.absolute {
  position: absolute;
}
.user-image {
  filter: grayscale(1);
  transition: 1s;
  animation: scaleImage 5s linear infinite;
}
.user-image img {
  padding: 2.5rem;
  z-index: -9;
  /* width: 10; */
  /* border: 1px solid black; */
}
@keyframes scaleImage {
  0% {
    filter: grayscale(0);
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    filter: grayscale(1);
    box-shadow: 3px 3px 5px black;
  }
  100% {
    filter: grayscale(0);
    transform: scale(1);
  }
}
.icon-dots {
  z-index: 9;
  bottom: -1rem;
  right: 0;
  animation: dotanimation 5s linear infinite;
}
@keyframes dotanimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
  }
}
.icon-cube {
  z-index: 9;
  top: -0.8em;
  right: 1em;
  animation: cubeanimation 3s linear infinite;
}
@keyframes cubeanimation {
  0% {
    transform: rotateY(0deg) translateY(0px);
  }
  50% {
    transform: rotateY(180deg) translateY(-0.8rem);
  }
  100% {
    transform: rotateY(360deg) translateY(0px);
  }
}
.icon-circle {
  z-index: 9;
  bottom: 0;
  left: 0;
  animation: circleanimation 6s linear infinite;
}
@keyframes circleanimation {
  0% {
    left: 0;
    bottom: 0;
  }
  50% {
    left: 5%;
    bottom: 10%;
  }
  100% {
    left: 0;
    bottom: 0;
  }
}
.icon-zigzags {
  z-index: 9;
  top: 1.5em;
  left: -0.3em;
  animation: zigzagAnimation 5s linear infinite;
}
@keyframes zigzagAnimation {
  50% {
    left: 5%;
    top: 3%;
  }
}

/* .icon-zigzags {
  z-index: 10;
  top: 1.5em;
  left: -0.3em;
  animation: zigzagAnimation 5s infinite;
}

@keyframes zigzagAnimation {
  50% {
    left: 5%;
    top: 3%;
  }
} */
.icon-plus {
  z-index: 9;
  top: -0.8rem;
  left: 50%;
  animation: plusanimation 6s ease-in infinite;
}
@keyframes plusanimation {
  0% {
    left: 50;
    top: -0.9rem;
  }
  50% {
    left: 48%;
    top: 3%;
  }
  100% {
    left: 50;
    top: -0.9rem;
  }
}
.projects {
  background-color: rgb(231, 231, 231);
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 4rem;
}
.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  padding: 1.5rem;
  color: #e84949;
}
.project-container {
  max-width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
.project-card {
  width: 90%;
  height: 35rem;
  position: relative;
  box-shadow: 0px 0px 40px #1f1f1f;
  background-size: cover;
  background-repeat: no-repeat;
}
#project1 {
  background-image: url(./Images/projects/Project1.png);
}
#project2 {
  margin-left: 7.5rem;
  background-image: url(./Images/projects/Project2.png);
}
#project3 {
  background-image: url(./Images/projects/Project3.png);
}
#project4 {
  margin-left: 7.5rem;
  background-image: url(./Images/projects/Project4.png);
}
.project-card::after {
  content: "";
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1f1f1f9a;
  transform: scaleX(1);
}
.project-card::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform-origin: left;
  z-index: 1;
  background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
  transform: scaleX(0);
  transition: all 0.4s linear;
}
.project-card:hover::before {
  transform: scaleX(1);
}
.project-number {
  position: absolute;
  font-size: 13rem;
  font-weight: 600;
  color: white;
  z-index: 10;
  display: none;
  transition: all 2s;
}
.project-number-left {
  top: -2.5rem;
  right: -2.5rem;
}
.project-number-right {
  top: -2.5rem;
  left: -2.5rem;
}
.project-card:hover .project-number {
  display: block;
}
.project-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 2em;
  bottom: 20%;
  z-index: 5;
  gap: 1em;
  transition: all 0.5s;
}
.project-content-left {
  left: 10%;
}
.project-content-right {
  right: 10%;
}
.project-skill-container {
  width: 60%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.projectSkill {
  width: 2.3rem;
}
.project-heading {
  font-size: 3rem;
  font-weight: bold;
  line-height: 3rem;
}
.project-subheading {
  width: 70%;
  font-size: 1.2rem;
  font-style: italic;
}
.btn-grp {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.btn-project:hover {
  border: none;
}
.icon {
  cursor: pointer;
  color: white;
  font-size: 2.2rem;
  transition: 0.8s;
}
.icon:hover {
  color: #d24848;
}
.project-card:hover {
  transform: scale(1.1);
}
.skillcontainer {
  position: relative;
  width: 70%;
  margin: 0 auto;
}
.skills-container {
  position: relative;
  display: flex;
  padding: 5rem;
  margin: 10rem auto 0 auto;
  gap: 2rem;
  margin-top: 30px solid black;
}
#skills {
  position: relative;
}
.skills-fadded-text {
  position: absolute;
  user-select: none;
  font-size: 9rem;
  color: rgb(231, 231, 231);
  display: absolute;
  bottom: -5%;
  right: 0%;
  /* letter-spacing: 0.5rem; */
  font-weight: bold;
  /* transition: all 3s; */
  overflow-y: hidden;
}
.skill-container-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.skill-heading {
  color: #e84949;
  font-size: 2.5em;
  font-weight: 600;
}
.M-class {
  font-size: 4rem;
}
.skill-container-right {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 2rem;
  justify-content: center;
}
.blobStyle {
  z-index: -10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: blobstyle 5s linear infinite;
}
@keyframes blobstyle {
  50% {
    top: 54%;
    left: 56%;
  }
}
.skillsLogo {
  z-index: 10;
  width: 5.6rem;
  transition: all 0.5s;
}
.skillsLogo:hover {
  transform: scale(1.2);
}
.skill-subheading {
  margin-top: 1rem;
  width: 85%;
  text-align: justify;
}
.contact-us-form {
  width: 100%;
  background-color: rgb(231, 231, 231);
}
.contactcontainer {
  width: 70%;
  margin: 0 auto;
  /* border: 2px saddlebrown solid; */
}
.contact-heading {
  font-size: 4rem;
  padding-top: 2rem;
  color: #e84949;
}
.contact-subheading {
  font-size: 2rem;
  color: #343d68aa;
  text-transform: capitalize;
}
.contact-form-container {
  display: flex;

  margin-top: 1.5rem;
  justify-content: center;
  align-items: center;
}
.formfield-container {
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 75%;
  /* margin: 2rem 5rem; */
}
.formfield {
  width: 100%;
  height: 2.5rem;
  padding: 0 2rem;
  /* font-size: 5px; */
  box-shadow: 2px 2px 10px #1f1f1f;
  font-weight: 600;
  border: none;
  margin-top: 1rem;
}
.formfield-textarea {
  height: auto;
  padding-top: 1rem;
}
.submit-btn:hover {
  scale: 0.9;
}
.submit-btn {
  margin-bottom: 3rem;
}
footer {
  position: relative;
  margin-top: -1px;
  background-color: #343d68;
  padding: 5rem;
}
.footer-fadder-text {
  position: absolute;
  user-select: none;
  font-size: 7rem;
  color: rgb(231, 231, 231);
  display: absolute;
  bottom: -10%;
  left: 0.02%;
  font-weight: bold;
  transition: all 3s;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
  gap: 1rem;
  align-items: center;
}
.link-wrapper {
  gap: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.icon-wrapper {
  gap: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.link-wrapper div a {
  color: rgb(230, 223, 223);
  text-decoration: none;
  transition: all 0.8s;
}
.link-wrapper div a:hover {
  color: #e84949;
}
